<form action="/auth/login" method="POST" id="login">
  <label for="auth-email" id="emaillabel">Email</label>
  <input id="auth-email" type="email" name="email">

  <label for="auth-password" id="passwordlabel">Password</label>
  <input id="auth-password" type="password" name="password">

  <input type="submit" value="Log In" id="passwordinput">
</form>
