<form action="/auth/login" method="POST" id="login">
  <h2 id="text">Login</h2>
  <label for="auth-email" id="emaillabel">Email</label>
  <input id="auth-email" type="email" name="email" placeholder="Enter email here">

  <label for="auth-password" id="passwordlabel">Password</label>
  <input id="auth-password" type="password" name="password" placeholder="Enter password here">

  <input type="submit" value="Log In" id="passwordinput">
</form>
