<div class="container">
  <div class="container1">
    <form action="/auth/login" method="POST" id="login">
      <h2>Login</h2>
      <p>
        <label for="auth-email" id="emaillabel">Email</label>
        <input id="auth-email" type="email" name="email">
      </p>
      <p>
        <label for="auth-password" id="passwordlabel">Password</label>
        <input id="auth-password" type="password" name="password">
      </p>
      <p>
        <input type="submit" value="Log In" id="passwordinput" class="btn btn-outline-secondary">
      </p>
    </form>
  </div>
</div>