<div class="container">
  <div class="container1">
    <form action="/auth/signup" method="POST" id="signup">
      <h2>Sign Up</h2>
      <p>
        <label for="new-email">Email</label>
        <input id="new-email" type="email" name="email">
      </p>
      <p>
        <label for="new-name">Name</label>
        <input id="new-name" type="text" name="name">
      </p>
      <p>
        <label for="new-password">Password</label>
        <input id="new-password" type="password" name="password">
      </p>
      <input type="submit" value="Sign up">
    </form>
  </div>
</div>