<h1>Air Qual</h1>
<form method="GET" action="/airquality/location">
    
    <input type="text" name="location" id="location" placeholder="Enter city here">

    <input type="text" name="state" id="state" placeholder="Enter state here">
    
    <input type="submit" value="Search" id="locationinput" class="btn btn-outline-primary">
</form>