<h1>Air Qual</h1>
<form method="GET" action="/airquality/location">
    <label for="location">city</label>
    <input type="text" name="location" id="location" placeholder="city">

    <label for="state">state</label>
    <input type="text" name="state" id="state" placeholder="state">
    
    <input type="submit" value="Search" id="locationinput">
</form>