<h2>Profile Page</h2>

<h3>Welcome to your PROFILE</h3>
    <% cities.forEach(city => { %>
        <ul>
            <li><%= city.name %>, <%= city.state %>
                <form action="profile?_method=DELETE" method="POST">
                    <input type="submit" value="Remove">
                </form>
            </li> 
        </ul>
    <% }); %>