<h2>Profile Page</h2>

<h3>Welcome to your PROFILE</h3>

<form method="GET" action="/airquality/location">
    <label for="location"></label>
    <input type="text" name="location" id="location">
    <input type="submit">
</form>