<h4 class="updateform" id="current">Current email: <%= user.email %> </h4>
<div id="updatecontainer">

    <form action="/update?_method=PUT" method="POST" class="updateform" id="one">
        <label for="updateEmail">New email here</label>
        <input type="text" name="email" id="name">
        <input type="submit" value="Update" class="btn btn-outline-primary">
    </form>
</div>