nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 0.3em;
}

h1 {
  color: blue;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-size: 70px;
}

#location {
  width: 250px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

#state {
  width: 250px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

#locationinput {
  width: 70px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

/* #login {
  display: grid;
  grid-template-areas:
    "text text text"
    email;
}

#text {
  grid-area: text;
}

#emaillabel {
  grid-area: emaillabel;
}

#auth-email {
  grid-area: auth-email;
}

#passwordlabel {
  grid-area: passwordlabel;
}

#auth-password {
  grid-area: auth-password;
}

#passwordinput {
  grid-area: passwordinput;
} */
